  <!-- busca dados diretamente do BD -->
  
  <% 
    const users = [
      { id: 1, name: 'Max Almeida' },
      { id: 2, name: 'Mayke Brito' },
      { id: 3, name: 'Paula Fernandes' },
    ];
  %>

<!--
  Template engines => arquivos HTML que aceitam variáveis
  Laravel -> Blade
  Node.js -> EJS
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
</head>
<body>
  <h1>Renderização SSR</h1>
    <ul style="font-size: 30px;">
         <% users.forEach(user => { %>
             <li>
                 <%= user.name %>
              </li>
          <% }); %>
    </ul>
</body>
</html>